<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseString" connectionString="Data Source=10.56.8.36;Database=P1_DB_2023_09;User Id=PROJECT_USER_09;Password=OPENDB_09;TrustServerCertificate=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>